.serverFormHolder {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.serverFormHolder .dialogHeading {
    font-weight: 700;
    line-height: 24px;
    font-size: 20px;
    color: var(--primary-background);
    margin-bottom: 20px;
}

.serverFormHolder .submitButton {
    background: none;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    color: var(--primary-background);
    transition: 0.3s;
}

.serverFormHolder .submitButton:hover {
    font-weight: 700;
    font-size: 14px;
}