:root {
  background: linear-gradient(90deg, #cc2b5e, #753a88);
  
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
  ;
}


.form-wrapper {
  background-color: white;
  text-align: center;
  min-width: 275px;
  max-width: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
  box-shadow: 0px 10px 50px rgba(5, 0, 12, 0.945);
}



.form-wrapper h2 {
  color: #f31276;
}

.form-wrapper h4 {
  color: #f31276;
}

.submit-button {
  border: 3px solid #b90a6d;
  background:linear-gradient(90deg, #cc2b5e, #753a88);
  color: white;
  border-radius: 0.25rem;
  height: 30px;
  width: 200px;
  line-height: 20px;
  font-size: 16px;
  text-transform: uppercase;
}


.modal-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: grey;
}

.modal-button {
  border: 3px solid #b90a6d;
  background:linear-gradient(90deg, #cc2b5e, #753a88);
  color: white;
  border-radius: 0.25rem;
  height: 30px;
  width: 60px;
  line-height: 20px;
  font-size: 16px;
  text-transform: uppercase;
}
