.channelsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 5px 16px;
    cursor: pointer;
}

.channelsContainer:hover {
    color: var(--primary-highlight);
}

.channelsContainer:hover > .addChannelIcon > .MuiSvgIcon-root{
    color: var(--primary-highlight);
    visibility: visible;
}

.channelsContainer .expandIcon > .MuiSvgIcon-root {
    margin-right: 7px;
    font-size: 20px;
}

.channelsContainer .expandIcon {
    display: flex;
    align-items: center;
}

.channelsContainer .addChannelIcon > .MuiSvgIcon-root {
    display: flex;
    align-items: center;
    visibility: hidden;
}

.add_channel {
    display: flex;
    align-items: center;
    margin: 0px 0px 10px 15px;
    cursor: pointer;
}

.add_channel:hover {
    color: var(--primary-highlight);
}

.add_channel .addChannel__icon {
    display: flex;
    align-items: center;
    padding: 3px;
    background-color: #49274b;
    border-radius: 5px;
    margin-right: 5px;
}

.addChannel__icon .MuiSvgIcon-root {
    font-size: 18px;
}