.server-sidebar-content {
    padding-top: 15px;
    background-color: var(--primary-background);
    border-right: 4px solid var(--primary-highlight);
    color: var(--secondary-content);
    min-height: 88.5vh;
}