body {
    margin: 0;
  }
  
  .navbar {
    background: linear-gradient(90deg, #cc2b5e, #753a88);
    display: flex;
    color: white;
    padding: 1rem;
    margin: 0;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-icon .slack-image {
    width: 45px;
  }
  