body {
    margin: 0;
  }
  
.navbar {
    display: flex;
    height: 64px;
    color: white;
    border-bottom: 4px solid var(--primary-highlight);
    background: linear-gradient(90deg,var(--secondary-background),10%,var(--primary-background));
    margin: 0;
    align-items: center;
    justify-content: flex-end;
    
  }

  .navbar .navbar-settings {
    margin-right: 20px;
    cursor: pointer;
  }
  