.chatBoxContainer {
    flex: 0.75;
}

.chatBoxContainer .chatBox__header {
    display: flex;
    font-size: 14px;
    align-items: center;
    padding: 0px 14px 0px 14px;
    justify-content: space-between;
    height: 64px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.chatBox__header .channel__name { 
    display: flex;
    align-items: center;
}

.channel__name .MuiSvgIcon-root {
    font-size: 14px;
    margin-left: 4px;
    color: gray;
}

.chatBox__header .info {
    display: flex;
    align-items: center;
}

.info .MuiSvgIcon-root {
    font-size: 18px;
    margin-right: 4px;
    color: var(--slack-color);
}

.chatBoxContainer .input__field {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 20px 10px 20px;
}

.input__field .chat__input {
    height: 30px;
    margin-right: 10px;
    width: 65%;
    line-height: 20px;
    font-size: 16px;
    border-radius: 15px;
    outline: none;
    border: 2px solid var(--slack-color);
    padding: 0px 0px 0px 10px
}

.input__field .chat__input:focus {
    border: 2px solid red;
}

.input__field .send__button {
    font-size: 2.5em;
    cursor: pointer;
    color: var(--slack-color);
}

.input__field .MuiTextField-root {
    width: 100%;
    margin-right: 20px;
}

.messages_container .chat__messages{
    padding: 20px;
}




