.send_message {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 20px 10px 20px;
}

.send_message .chat__input {
    height: 30px;
    color: white;
    margin-right: 10px;
    width: 65%;
    line-height: 20px;
    font-size: 16px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 0px 0px 0px 10px;
    border: 2px solid var(--primary-highlight);
    background-color: var(--primary-background);
}

.chat__input::placeholder {
    color: var(--primary-highlight);
}

.send_message .sendButton {
    cursor: pointer;
    color: var(--primary-background);
}

.sendButton .MuiSvgIcon-root {
    font-size: 2.2rem;
}

.send_message .MuiTextField-root {
    width: 100%;
    margin-right: 20px;
}