.slackBrowser {
    display: flex;
    align-items: center;
    padding: 0px 16px;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    padding-bottom: 10px;
}

.slackBrowser:hover{
    color: var(--primary-highlight);
}

.slackBrowser p {
    margin: 0;
}

.slackBrowser > .MuiSvgIcon-root {
    font-size: 20px;
    margin-right: 7px;
}