.login {
    background-color: #f8f8f8;
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: var(--primary-background);
    color: var(--primary-background);
}

.login__container {
    padding: 100px;
    text-align: center;
    background-color: var(--secondary-background);
    border-radius: 20px;
    border: 4px solid var(--primary-highlight);
    box-shadow: 2px 1px 5px gray;
}

.login__container > .MuiButton-root {
    color: white;
    text-transform: none;
}

.login__container >.MuiButton-contained {
    background-color: var(--primary-highlight);
    color: black;
}

.login__container > img {
    object-fit: contain;
    height: 150px;
    margin-bottom: 40px;
}